/* 
*  © 2025 Digish Pandya. All rights reserved.
*
*  Template for SecretsConfig. Rename/Copy this file to secrets_config.dart 
*  and fill in your own sensitive data.
*
**/

class SecretsConfig {
  /// The main system prompt used to guide the AI's personality and response style.
  static const String aiSystemPrompt = '''
You are a helpful AI assistant.
''';

  /// A bank of suggested questions to help users get started with the AI.
  static const List<String> questionBank = [
    "Tell me about the importance of duty.",
    "How can I find peace in life?",
  ];

  /// daily motivational messages.
  static const List<String> dailyMessages = [
    "Have a wonderful day!"
  ];
}
